In [1]:
import pandas as pd

In [2]:
cf = pd.read_csv("Data/DOHMH_School_Cafeteria_inspections__2020_-_Present_Cleaned.csv")

In [3]:
#In future revisions adding this smoothly with a proper join is the goal, but for now this is just the 

en = pd.read_csv("Data/2021SchoolYearEnrollmentByBorough.csv")

In [4]:
cf.describe()

,Zip Code,PTET,LATITUDE,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,BOROCODE
count,11093.000000,11093.000000,11093.000000,11093.000000,10942.000000,10942.000000,10942.000000,1.088000e+04,1.109300e+04,11093.000000
mean,10890.134680,2530.937889,40.161018,-72.923447,286.875525,27.594041,39160.660939,2.924761e+06,2.772769e+09,2.780672
std,518.715376,1.457172,4.718799,8.567316,107.279709,14.595865,33574.986465,1.131412e+06,1.140226e+09,1.076977
min,10001.000000,2529.000000,0.000000,-74.244116,101.000000,1.000000,100.000000,1.000000e+06,1.000000e+00,1.000000
25%,10455.000000,2530.000000,40.641150,-73.979287,206.000000,15.000000,15500.000000,2.041260e+06,2.029390e+09,2.000000
50%,11207.000000,2530.000000,40.701356,-73.939151,308.000000,31.000000,27300.000000,3.116438e+06,3.032410e+09,3.000000
75%,11231.000000,2533.000000,40.777448,-73.887142,318.000000,39.000000,53000.000000,3.398406e+06,3.081880e+09,3.000000
max,11694.000000,2533.000000,40.906892,0.000000,503.000000,51.000000,162100.000000,5.170018e+06,5.078980e+09,5.000000

In [5]:
cf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11093 entries, 0 to 11092
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Record ID             11093 non-null  object
 1   SchoolName            11093 non-null  object
 2   Number                11093 non-null  object
 3   Street                11093 non-null  object
 4   City                  10657 non-null  object
 5   State                 11093 non-null  object
 6   Borough               11093 non-null  object
 7   Zip Code              11093 non-null  int64
 8   LastInspection        11093 non-null  object
 9   Permittee             11093 non-null  object
 10  InspectionDate        11093 non-null  object
 11  PTET                  11093 non-null  int64
 12  Site Type             11093 non-null  object
 13  Level                 7974 non-null   object
 14  Code                  7974 non-null   object
 15  ViolationDescription  7974 non-null   object
 16  LATITUDE              11093 non-null  float64
 17  LONGITUDE             11093 non-null  float64
 18  COMMUNITYBOARD        10942 non-null  float64
 19  COUNCILDISTRICT       10942 non-null  float64
 20  CENSUSTRACT           10942 non-null  float64
 21  BIN                   10880 non-null  float64
 22  BBL                   11093 non-null  int64
 23  NTA                   10942 non-null  object
 24  BOROCODE              11093 non-null  int64
 25  Public Status         11093 non-null  object
dtypes: float64(6), int64(4), object(16)
memory usage: 2.2+ MB

In [6]:
en.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Borough               15 non-null     object
 1   Schooling Status      15 non-null     object
 2   2021-2022 Enrollment  15 non-null     int64
dtypes: int64(1), object(2)
memory usage: 488.0+ bytes

In [7]:
en.head()

    Borough Schooling Status  2021-2022 Enrollment
0     Bronx           Public                158295
1     Bronx          Private                 23954
2     Bronx   Home Schooling                  2284
3  Brooklyn           Public                256706
4  Brooklyn          Private                116725

In [8]:
cf.head()

,Record ID,SchoolName,Number,Street,City,State,Borough,Zip Code,LastInspection,Permittee,...,LATITUDE,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,NTA,BOROCODE,Public Status
0,40542839,"P.S. 127 MCKINLEY PARK, RALPH A. FABRIZIO SCHO...",7805,7 AVENUE,Brooklyn,NY,Brooklyn,11228,2/2/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.624125,-74.018826,310.0,43.0,20600.0,3150481.0,3059730001,BK30,3,Public
1,40736086,BAIS YITZHAK SCHOOL,1413,45 STREET,Brooklyn,NY,Brooklyn,11219,2/15/2023,CONGREGATION KHAL CHASIDEI SKWERE - BAIS YITZA...,...,0.000000,0.000000,NaN,NaN,NaN,NaN,3,NaN,3,Private
2,40542116,P.S. 135 SHELDON A. BROOKNER,684,LINDEN BOULEVARD,Brooklyn,NY,Brooklyn,11203,1/23/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.653633,-73.933114,317.0,41.0,87000.0,3102005.0,3046730001,BK91,3,Public
3,40542900,PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONR...,1300,BOYNTON AVENUE,Bronx,NY,Bronx,10472,3/9/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.831594,-73.878911,209.0,18.0,5600.0,2027459.0,2038640001,BX08,2,Public
4,40541560,"PS811M @ PS 149M, SUCCESS ACADEMY CHARTER-HARL...",34,WEST 118 STREET,New York,NY,Manhattan,10026,1/31/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,40.802464,-73.946715,110.0,9.0,19000.0,1051434.0,1016010001,MN11,1,Public

In [9]:
cf["Address"] = cf["Number"] + " " + cf["Street"]

In [10]:
cf.head()

,Record ID,SchoolName,Number,Street,City,State,Borough,Zip Code,LastInspection,Permittee,...,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,NTA,BOROCODE,Public Status,Address
0,40542839,"P.S. 127 MCKINLEY PARK, RALPH A. FABRIZIO SCHO...",7805,7 AVENUE,Brooklyn,NY,Brooklyn,11228,2/2/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,-74.018826,310.0,43.0,20600.0,3150481.0,3059730001,BK30,3,Public,7805 7 AVENUE
1,40736086,BAIS YITZHAK SCHOOL,1413,45 STREET,Brooklyn,NY,Brooklyn,11219,2/15/2023,CONGREGATION KHAL CHASIDEI SKWERE - BAIS YITZA...,...,0.000000,NaN,NaN,NaN,NaN,3,NaN,3,Private,1413 45 STREET
2,40542116,P.S. 135 SHELDON A. BROOKNER,684,LINDEN BOULEVARD,Brooklyn,NY,Brooklyn,11203,1/23/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,-73.933114,317.0,41.0,87000.0,3102005.0,3046730001,BK91,3,Public,684 LINDEN BOULEVARD
3,40542900,PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONR...,1300,BOYNTON AVENUE,Bronx,NY,Bronx,10472,3/9/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,-73.878911,209.0,18.0,5600.0,2027459.0,2038640001,BX08,2,Public,1300 BOYNTON AVENUE
4,40541560,"PS811M @ PS 149M, SUCCESS ACADEMY CHARTER-HARL...",34,WEST 118 STREET,New York,NY,Manhattan,10026,1/31/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,...,-73.946715,110.0,9.0,19000.0,1051434.0,1016010001,MN11,1,Public,34 WEST 118 STREET

In [11]:
cf.drop(columns=["Number", "Street"])

,Record ID,SchoolName,City,State,Borough,Zip Code,LastInspection,Permittee,InspectionDate,PTET,...,LONGITUDE,COMMUNITYBOARD,COUNCILDISTRICT,CENSUSTRACT,BIN,BBL,NTA,BOROCODE,Public Status,Address
0,40542839,"P.S. 127 MCKINLEY PARK, RALPH A. FABRIZIO SCHO...",Brooklyn,NY,Brooklyn,11228,2/2/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,7/28/2022,2530,...,-74.018826,310.0,43.0,20600.0,3150481.0,3059730001,BK30,3,Public,7805 7 AVENUE
1,40736086,BAIS YITZHAK SCHOOL,Brooklyn,NY,Brooklyn,11219,2/15/2023,CONGREGATION KHAL CHASIDEI SKWERE - BAIS YITZA...,3/1/2022,2533,...,0.000000,NaN,NaN,NaN,NaN,3,NaN,3,Private,1413 45 STREET
2,40542116,P.S. 135 SHELDON A. BROOKNER,Brooklyn,NY,Brooklyn,11203,1/23/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,11/17/2022,2530,...,-73.933114,317.0,41.0,87000.0,3102005.0,3046730001,BK91,3,Public,684 LINDEN BOULEVARD
3,40542900,PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONR...,Bronx,NY,Bronx,10472,3/9/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,3/9/2023,2530,...,-73.878911,209.0,18.0,5600.0,2027459.0,2038640001,BX08,2,Public,1300 BOYNTON AVENUE
4,40541560,"PS811M @ PS 149M, SUCCESS ACADEMY CHARTER-HARL...",New York,NY,Manhattan,10026,1/31/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,8/1/2022,2530,...,-73.946715,110.0,9.0,19000.0,1051434.0,1016010001,MN11,1,Public,34 WEST 118 STREET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11088,40541399,P.S. 064 JOSEPH P. ADDABBO,Ozone Park,NY,Queens,11416,2/27/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,2/27/2023,2530,...,-73.856918,409.0,32.0,4200.0,4188214.0,4090530014,QN53,4,Public,8201 101 AVENUE
11089,40541012,"P.S. Q177, MARTIN VAN BUREN HIGH SCHOOL, BUSIN...",Queens Village,NY,Queens,11427,1/12/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,1/12/2023,2530,...,-73.738755,413.0,23.0,130100.0,4166101.0,4079300002,QN43,4,Public,23017 HILLSIDE AVENUE
11090,40655565,THE DALTON SCHOOL,New York,NY,Manhattan,10128,10/25/2022,FLIK INTERNATIONAL CORP,10/25/2022,2529,...,-73.955228,108.0,4.0,14802.0,1048100.0,1015170062,MN40,1,Private,108 EAST 89 STREET
11091,41442488,GROWING UP GREEN CHARTER SCHOOL,Long Island City,NY,Queens,11101,10/6/2022,NEW YORK CITY DEPARTMENT OF EDUCATION,4/21/2021,2530,...,-73.935703,401.0,26.0,3100.0,4436781.0,4003980001,QN68,4,Public,3937 28 STREET
11092,40867737,JOMERA DEVORAH HIGH SCHOOL,Brooklyn,NY,Brooklyn,11204,1/18/2023,CONGREGATION KHAL CHASIDEI SKWERA,2/23/2022,2533,...,-73.990835,312.0,44.0,24200.0,3328498.0,3055030009,BK88,3,Private,5801 16 AVENUE

In [12]:
cf = cf.drop(columns=["COMMUNITYBOARD", "CENSUSTRACT", "BBL", "NTA", "BOROCODE", "Number", "Street"])

In [13]:
cf.head()

,Record ID,SchoolName,City,State,Borough,Zip Code,LastInspection,Permittee,InspectionDate,PTET,Site Type,Level,Code,ViolationDescription,LATITUDE,LONGITUDE,COUNCILDISTRICT,BIN,Public Status,Address
0,40542839,"P.S. 127 MCKINLEY PARK, RALPH A. FABRIZIO SCHO...",Brooklyn,NY,Brooklyn,11228,2/2/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,7/28/2022,2530,FSE (Public School Cafeteria),NaN,NaN,NaN,40.624125,-74.018826,43.0,3150481.0,Public,7805 7 AVENUE
1,40736086,BAIS YITZHAK SCHOOL,Brooklyn,NY,Brooklyn,11219,2/15/2023,CONGREGATION KHAL CHASIDEI SKWERE - BAIS YITZA...,3/1/2022,2533,FSE (Private School Cafeteria - Not-For-Profit),G,10A,Toilet facility not maintained and provided wi...,0.000000,0.000000,NaN,NaN,Private,1413 45 STREET
2,40542116,P.S. 135 SHELDON A. BROOKNER,Brooklyn,NY,Brooklyn,11203,1/23/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,11/17/2022,2530,FSE (Public School Cafeteria),C,04A,Food Protection Certificate (FPC) not held by ...,40.653633,-73.933114,41.0,3102005.0,Public,684 LINDEN BOULEVARD
3,40542900,PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONR...,Bronx,NY,Bronx,10472,3/9/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,3/9/2023,2530,FSE (Public School Cafeteria),C,04L,Evidence of mice or live mice in establishment...,40.831594,-73.878911,18.0,2027459.0,Public,1300 BOYNTON AVENUE
4,40541560,"PS811M @ PS 149M, SUCCESS ACADEMY CHARTER-HARL...",New York,NY,Manhattan,10026,1/31/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,8/1/2022,2530,FSE (Public School Cafeteria),C,04M,Live roaches in facility's food or non-food area.,40.802464,-73.946715,9.0,1051434.0,Public,34 WEST 118 STREET

In [14]:
cf.insert(20, '2021-2022 Segment Enrollment', 'x')

In [15]:
for row in cf.iterrows():

    # Get the value of the Borough column
    borough = row[1]['Borough']

    # Get the value of the Public Status column
    public_status = row[1]['Public Status']

    # Check if the Borough column contains Brooklyn
    if borough == 'Brooklyn':

        # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 260855

        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 116725
    elif borough == 'Bronx':
         # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 168582

        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 23954
            
    elif borough == 'Queens':
         # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 263898
        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 39686
    elif borough == 'Manhattan':
         # Check if the Public Status column contains Public
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 152463
        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 49856
    else:
        if public_status == 'Public':

            # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 61797
        else:

            # Write 116725 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], '2021-2022 Segment Enrollment'] = 11337

In [16]:
#Mesivta Tefereth Jerusalem location fix

for row in cf.iterrows():

    record = row[1]['Record ID']
 
    if record == '40740823':

        # Write 513412 in the 2021-2022 Segment Enrollment column
            cf.loc[row[0], 'LATITUDE'] = 40.713921
            cf.loc[row[0], 'LONGITUDE'] = -73.991328

In [17]:
cf.head()

,Record ID,SchoolName,City,State,Borough,Zip Code,LastInspection,Permittee,InspectionDate,PTET,...,Level,Code,ViolationDescription,LATITUDE,LONGITUDE,COUNCILDISTRICT,BIN,Public Status,Address,2021-2022 Segment Enrollment
0,40542839,"P.S. 127 MCKINLEY PARK, RALPH A. FABRIZIO SCHO...",Brooklyn,NY,Brooklyn,11228,2/2/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,7/28/2022,2530,...,NaN,NaN,NaN,40.624125,-74.018826,43.0,3150481.0,Public,7805 7 AVENUE,260855
1,40736086,BAIS YITZHAK SCHOOL,Brooklyn,NY,Brooklyn,11219,2/15/2023,CONGREGATION KHAL CHASIDEI SKWERE - BAIS YITZA...,3/1/2022,2533,...,G,10A,Toilet facility not maintained and provided wi...,0.000000,0.000000,NaN,NaN,Private,1413 45 STREET,116725
2,40542116,P.S. 135 SHELDON A. BROOKNER,Brooklyn,NY,Brooklyn,11203,1/23/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,11/17/2022,2530,...,C,04A,Food Protection Certificate (FPC) not held by ...,40.653633,-73.933114,41.0,3102005.0,Public,684 LINDEN BOULEVARD,260855
3,40542900,PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONR...,Bronx,NY,Bronx,10472,3/9/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,3/9/2023,2530,...,C,04L,Evidence of mice or live mice in establishment...,40.831594,-73.878911,18.0,2027459.0,Public,1300 BOYNTON AVENUE,168582
4,40541560,"PS811M @ PS 149M, SUCCESS ACADEMY CHARTER-HARL...",New York,NY,Manhattan,10026,1/31/2023,NEW YORK CITY DEPARTMENT OF EDUCATION,8/1/2022,2530,...,C,04M,Live roaches in facility's food or non-food area.,40.802464,-73.946715,9.0,1051434.0,Public,34 WEST 118 STREET,152463

In [18]:
#You'll need to manually put this into the Tableau data folder

cf.to_csv("DOHMH Inspections Joined.csv")